body {
    background: linear-gradient(to right, #ece9e6, #ffffff);
    font-family: 'Segoe UI', sans-serif;
}

.card {
    border-radius: 1rem;
}

.caption-box {
    background-color: #f0f0f0;
    border-radius: 8px;
    padding: 10px;
    font-size: 1.1em;
}
